<div class="container collapse" id="agregar">
    <h5 class="text-center alert alert-info my-1">Proporcione la siguiente información.</h5>
    <div class="row">

        <form>
            <div class="form-group">
                <label for="agregarForm">ID</label>
                <input type="number" class="form-control" placeholder="14111314" required>
            </div>
            <div class="form-group">
                <label for="agregarForm">Correo electrónico</label>
                <input type="email" class="form-control" placeholder="emmanuel@sporteria.mx" required>
            </div>
            <div class="form-group">
                <label for="agregarForm">CURP</label>
                <input type="email" class="form-control" placeholder="LOLE960214HSLPRM06" size="18" required>
            </div>
            <div class="form-group">
                <label for="agregarForm">Nombre</label>
                <input type="email" class="form-control" placeholder="Emmanuel" required>
            </div>
            <div class="form-group">
                <label for="agregarForm">Apellido Paterno</label>
                <input type="email" class="form-control" placeholder="Lopez" required>
            </div>
            <div class="form-group">
                <label for="agregarForm">Apellido Materno</label>
                <input type="email" class="form-control" placeholder="Loera">
            </div>
            <div class="form-group">
                <label for="agregarForm">Sexo</label>
                <div class="form-check">

                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="" id="" value="M" checked>
                                            Masculino
                                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="" id="" value="F">
                                            Femenino
                                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="" id="" value="O">
                                            Otro
                                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="agregarForm">Numero celular</label>
                <input type="tel" class="form-control" placeholder="6671777617" size="10" required>
            </div>
            <div class="form-group">
                <label for="agregarForm">Banco</label>
                <select name="Banco" class="form-control">
                                    <option value="1">Banamex</option>
                                    </select>
            </div>
            <div class="form-group">
                <label for="agregarForm">Numero de tarjeta</label>
                <input type="number" class="form-control" placeholder="5200000000000000" size="16">
            </div>
            <div class="form-group">
                <label for="agregarForm">Clabe Interbancaria</label>
                <input type="number" class="form-control" placeholder="019283746583921029" size="18">
            </div>
            <div class="form-group">
                <label for="agregarForm">Credito</label>
                <input type="number" step="any" min="0" class="form-control" placeholder="2000.00">
            </div>
            <div class="form-group">
                <label for="agregarForm">Foto de identificación oficial</label>
                <input type="file" class="form-control-file" id="INE">
            </div>
            <div class="form-group">
                <label for="agregarForm">Imagen de confirmación</label>
                <input type="file" class="form-control-file" id="confirmacion">
            </div>
            <div class="form-group">
                <input type="submit" class="form-control btn-success">
            </div>
        </form>
    </div>
</div>