////// Banner

.logo img{
    width: 12rem;
    flex: 1 1 auto;
}
#boton-menu{
    float:left;
}
#boton-login{
  float:right;
}

/////// Tabla Afiliados
.btn-tabla-agregar{


}
.btn-tabla-eliminar{

}
.btn-tabla-editar{

}

#agregar{
    background-color: rgba(#292b2c, 0);
}
.Login button{
  align-items: flex-end;
  justify-content: center;
}
#Tabla{

}
footer {
  background-color: black;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 4rem;
  color: white; }
body{
    background-color: rgb(42, 44, 45);
    color: white;
}
.Login {
  background: url("../images/fondo.jpg") no-repeat 40% 50%;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex: 1 1 70%; }
