<!--
                <div class="collapse d-flex" role="tabpanel" aria-labelledby="eAfiliado" id="editarAfiliado">


                    <ul class="list-group col-6">
                        <li class="list-group-item bg-warning">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ordenar por</button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <a class="dropdown-item" href="#!">ID</a>
                                    <a class="dropdown-item" href="#!">Nombre</a>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item text-info">Afiliado1</li>
                        <li class="list-group-item text-info">Afiliado2</li>
                    </ul>

                    <table class="table table-responsive table-bordered w-100 col-6">
                        <tr>
                            <th>ID:</th>
                            <td>000000</td>
                        </tr>
                        <tr>
                            <th>Nombre:</th>
                            <td>Afiliado1</td>
                        </tr>
                        <tr>
                            <th>Apellido paterno:</th>
                            <td>Sporteria</td>
                        </tr>
                        <tr>
                            <th>Apellido materno:</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Tag:</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>CURP:</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Domicilio:</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Codigo Postal:</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Colonia:</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Municipio:</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Estado:</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Pais:</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Sexo:</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Banco:</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Numero de tarjeta:</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Clabe interbancaria:</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Credito:</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Rol:</th>
                            <td></td>
                        </tr>
                    </table>
                </div> -->