<div class="container collapse show" id="agregar">
    <h5 class="text-center alert alert-info my-1 col-12 col-md-6 offset-md-3">Proporcione la siguiente información.</h5>
    <div class="row">

        <form class="col-12 col-md-6 justify-content-center">
            <div class="form-group">
                <label for="agregarForm">Correo electrónico</label>
                <input type="email" [(ngModel)]="obj.email" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="correo@sporteria.mx" required>
            </div>
            <div class="form-group">
                <label for="agregarForm">RFC</label>
                <input type="text" [(ngModel)]="obj.general.RFC" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="CURP" size="18" minlength="18" required>
            </div>
            <div class="form-group">
                <label for="agregarForm">Nombre</label>
                <input type="text" [(ngModel)]="obj.general.name" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Nombre(s)" required>
            </div>
            <div class="form-group">
                <label for="agregarForm">Apellido Paterno</label>
                <input type="email" [(ngModel)]="obj.general.app" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Apellido Paterno" required>
            </div>
            <div class="form-group">
                <label for="agregarForm">Apellido Materno</label>
                <input type="email" [(ngModel)]="obj.general.apm" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Apellido Materno">
            </div>
            <div class="form-group">
                <label for="agregarForm">Numero celular</label>
                <input type="tel" class="form-control" [(ngModel)]="obj.general.cel" [ngModelOptions]="{standalone: true}" placeholder="6671777617" size="10" required>
            </div>
            <div class="form-group">
                <label for="agregarForm">Permisos</label>
                <div class="form-check">

                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" [(ngModel)]="obj.permisos" [ngModelOptions]="{standalone: true}" name="" id="" value=0 checked>
                                            normal
                                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" [(ngModel)]="obj.permisos" [ngModelOptions]="{standalone: true}" name="" id="" value=1>
                                            admin
                                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="button" (click)='save_user()' class="form-control btn-success" value="Guardar">
            </div>
        </form>
    </div>
</div>