<section class="admin animated fadeIn">
    <div class="container">
        <div class="row">

            <div class="list-group col-12">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Panel administrativo</h5>

                    </div>
                    <p class="mb-1">En este menú puede hacer edicion de los datos del afiliado, asi como editar otras cosas.</p>

                </a>
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" data-toggle="collapse" data-parent="#accordion" href="#agregarAfiliado" aria-expanded="true" aria-controls="aAfiliado">
                    <div class="d-flex w-100 justify-content-between" id="aAfiliado">
                        <h5 class="mb-1"><span class="badge badge-success">Agregar</span> Afiliado</h5>

                    </div>
                    <p class="mb-2">En este formulario puede agregar a los afiliados nuevos.</p>

                </a>
                <!-- Añadir afiliado   -->
                <app-a-afiliado></app-a-afiliado>

                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" data-toggle="collapse" data-parent="#accordion" href="#editarAfiliado" aria-expanded="true" aria-controls="eAfiliado">
                    <div class="d-flex w-100 justify-content-between" id="eAfiliado">
                        <h5 class="mb-1"><span class="badge badge-primary">Editar</span> Afiliado</h5>

                    </div>
                    <p class="mb-2">Permite hacer edicion de los datos de los afiliados. AREA EN CONSTRUCCION
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </p>
                </a>
                <!-- Editar afiliado   -->
                <app-e-afiliado></app-e-afiliado>

                <a  class="list-group-item list-group-item-action flex-column align-items-start" data-toggle="collapse" data-parent="#accordion" href="#editarCliente" aria-expanded="true" aria-controls="eCliente">
                        <div class="d-flex w-100 justify-content-between" id="eCliente">
                            <h5 class="mb-1"><span class="badge badge-primary">Editar</span> Cliente</h5>
    
                        </div>
                        <p class="mb-2">En este formulario puede editar a los clientes que ha agregado el afiliado. AREA EN CONSTRUCCION
                            <i class="fa fa-clock-o" aria-hidden="true"></i></p>
    
                </a>
                    
                <!-- Editar clientes   -->
                <app-e-cliente></app-e-cliente>
                    
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" data-toggle="collapse" data-parent="#accordion" href="#agregarBanco" aria-expanded="false" aria-controls="aBanco" id="aBanco">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"><span class="badge badge-success">Agregar</span> Banco</h5>
                    </div>
                    <p class="mb-1"> Añada el banco que no se encuentre actualmente. AREA EN CONSTRUCCION
                        <i class="fa fa-clock-o" aria-hidden="true"></i></p>

                </a>
                <!-- Añadir banco   -->
                <app-a-banco></app-a-banco>

            </div>


        </div>
    </div>
</section>
