<section class="admin animated fadeIn">
    <div class="container">
        <div class="row">

            <div class="list-group col-12 col-md-8 offset-md-2">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Panel administrativo</h5>

                    </div>
                    <p class="mb-1">En este menú puede hacer edicion de los datos del afiliado, asi como editar otras cosas.</p>

                </a>
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" data-toggle="collapse" data-parent="#accordion" href="#agregarAfiliado" aria-expanded="true" aria-controls="aAfiliado">
                    <div class="d-flex w-100 justify-content-between" id="aAfiliado">
                        <h5 class="mb-1"><span class="badge badge-success">Agregar</span> Afiliado</h5>

                    </div>
                    <p class="mb-2">En este formulario puede agregar a los afiliados nuevos.</p>

                </a>
                <div class="collapse" role="tabpanel" aria-labelledby="aAfiliado" id="agregarAfiliado">
                    <h5 class="text-center alert alert-info my-1">Proporcione la siguiente información.</h5>
                    <div class="row">

                        <form class="row col-12">
                            <div class="col-12 col-md-6 justify-content-center">
                                <div class="form-group">
                                    <label for="agregarForm">ID</label>
                                    <input type="number" class="form-control" placeholder="Numero de Usuario" required>
                                </div>
                                <div class="form-group">
                                    <label for="agregarForm">Correo electrónico</label>
                                    <input type="email" class="form-control" placeholder="correo@sporteria.mx" required>
                                </div>
                                <div class="form-group">
                                    <label for="agregarForm">Tag</label>
                                    <input type="number" class="form-control" placeholder="" size="8">
                                </div>
                                <div class="form-group">
                                    <label for="agregarForm">Contraseña</label>
                                    <input type="password" class="form-control" placeholder="******" required>
                                </div>
                                <div class="form-group">
                                    <label for="agregarForm">Repetir contraseña</label>
                                    <input type="password" class="form-control" placeholder="******" required>
                                </div>
                                <div class="form-group">
                                    <label for="agregarForm">CURP</label>
                                    <input type="text" class="form-control" placeholder="" size="18" required>
                                </div>
                                <div class="form-group">
                                    <label for="agregarForm">Nombre</label>
                                    <input type="text" class="form-control" placeholder="Nombre(s)" required>
                                </div>
                                <div class="form-group">
                                    <label for="agregarForm">Apellido Paterno</label>
                                    <input type="text" class="form-control" placeholder="Apellido Paterno" required>
                                </div>
                                <div class="form-group">
                                    <label for="agregarForm">Apellido Materno</label>
                                    <input type="text" class="form-control" placeholder="Apellido Materno">
                                </div>
                                <div class="form-group">
                                    <label for="agregarForm">Domicilio</label>
                                    <input type="text" class="form-control" placeholder="Calle y numero">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 justify-content-center">
                                <div class="form-group">
                                    <label for="agregarForm">CP</label>
                                    <input type="number" class="form-control" placeholder="Codigo Postal" minlength="5" required size="5">
                                </div>
                                <div class="form-group">
                                    <label for="agregarForm">Colonia/Fraccionamiento</label>
                                    <select name="ciudad" class="form-control">
                                    <option value="1">JSON</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="agregarForm">Ciudad</label>
                                    <select name="ciudad" class="form-control" disabled>
                                    <option value="1">Aguascalientes</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="agregarForm">Estado</label>
                                    <select name="estado" class="form-control" disabled>
                                    <option value="1">Aguascalientes</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="agregarForm">Pais</label>
                                    <select name="pais" class="form-control" disabled>
                                    <option value="1">México</option>
                                    </select>
                                </div>
                                <div class="form-inline">
                                    <label for="agregarForm" class="h6 m-3">Sexo:</label>
                                    <div class="form-check">
    
                                        <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="" id="" value="M" checked>
                                            Masculino
                                    </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="" id="" value="F">
                                            Femenino
                                    </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="" id="" value="O">
                                            Otro
                                    </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="agregarForm">Numero celular</label>
                                    <input type="tel" class="form-control" placeholder="" size="10" required>
                                </div>
                                <div class="form-group">
                                    <label for="agregarForm">Banco</label>
                                    <select name="Banco" class="form-control">
                                    <option value="1">Banamex</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="agregarForm">Numero de tarjeta</label>
                                    <input type="number" class="form-control" placeholder="" size="16">
                                </div>
                                <div class="form-group">
                                    <label for="agregarForm">Clabe Interbancaria</label>
                                    <input type="number" class="form-control" placeholder="" size="18">
                                </div>
                                <div class="form-group">
                                    <label for="agregarForm">Credito</label>
                                    <input type="number" step="any" min="0" class="form-control" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for="agregarForm">Permisos</label>
                                    <select name="Permisos" class="form-control">
                                    <option value="1">Usuario</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="form-control btn-success glyphicon glyphicon-floppy-disk">
                                </div>
                            </div>
                        </form>



                    </div>
                </div>

                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" data-toggle="collapse" data-parent="#accordion" href="#editarAfiliado" aria-expanded="true" aria-controls="eAfiliado">
                    <div class="d-flex w-100 justify-content-between" id="eAfiliado">
                        <h5 class="mb-1"><span class="badge badge-primary">Editar</span> Afiliado</h5>

                    </div>
                    <p class="mb-2">Permite hacer edicion de los datos de los afiliados.</p>
                </a>
                <div class="collapse d-flex" role="tabpanel" aria-labelledby="eAfiliado" id="editarAfiliado">


                    <ul class="list-group col-6">
                        <li class="list-group-item bg-warning">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ordenar por</button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <a class="dropdown-item" href="#!">ID</a>
                                    <a class="dropdown-item" href="#!">Nombre</a>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item text-info">Afiliado1</li>
                        <li class="list-group-item text-info">Afiliado2</li>
                    </ul>

                    <table class="table table-responsive table-bordered w-100 col-6">
                        <tr>
                            <th>ID:</th>
                            <td>000000</td>
                        </tr>
                        <tr>
                            <th>Nombre:</th>
                            <td>Afiliado1</td>
                        </tr>
                        <tr>
                            <th>Apellido paterno:</th>
                            <td>Sporteria</td>
                        </tr>
                        <tr>
                            <th>Apellido materno:</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Tag:</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>CURP:</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Domicilio:</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Codigo Postal:</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Colonia:</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Municipio:</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Estado:</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Pais:</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Sexo:</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Banco:</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Numero de tarjeta:</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Clabe interbancaria:</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Credito:</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Rol:</th>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <a  class="list-group-item list-group-item-action flex-column align-items-start" data-toggle="collapse" data-parent="#accordion" href="#editarCliente" aria-expanded="true" aria-controls="eCliente">
                        <div class="d-flex w-100 justify-content-between" id="eCliente">
                            <h5 class="mb-1"><span class="badge badge-success">Editar</span> Cliente</h5>
    
                        </div>
                        <p class="mb-2">En este formulario puede editar a los clientes que ha agregado el afiliado.</p>
    
                    </a>
                    <div class="collapse" role="tabpanel" aria-labelledby="eCliente" id="editarCliente">
                        Aqui se podra editar a los clientes jaja.
                    </div>
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" data-toggle="collapse" data-parent="#accordion" href="#agregarBanco" aria-expanded="false" aria-controls="aBanco" id="aBanco">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"><span class="badge badge-success">Agregar</span> Banco</h5>
                    </div>
                    <p class="mb-1"> Añada el banco que no se encuentre actualmente.</p>

                </a>
                <div class="collapse" role="tabpanel" aria-labelledby="aBanco" id="agregarBanco">
                    <h5 class="text-center alert alert-info my-1">Proporcione la siguiente información.</h5>
                    <div class="row">

                        <form class="col-12 col-md-6 justify-content-center">
                            <div class="form-group">
                                <label for="agregarForm">Nombre del banco</label>
                                <input type="number" class="form-control" placeholder="" required>
                            </div>
                            <div class="form-group">
                                <label for="agregarForm">Pais</label>
                                <select name="pais" class="form-control">
                                <option value="1" selected>México</option>
                                <option value="2">Estados Unidos</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="agregarForm">Status</label>
                                <select name="status" class="form-control">
                                <option value="1" selected>Desactivado</option>
                                <option value="2">Activo</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="agregarForm">Moneda</label>
                                 <select name="pais" class="form-control" disabled>
                                     <!-- Esto depende del pais que se coloque arriba -->
                                <option value="1" selected>MXN</option>
                                <option value="2">USD</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <input type="submit" class="form-control btn-success">
                            </div>
                        </form>



                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
