<section class="Tabla" role="grid">
    <div class="container-fluid">
        <div class="row">

            <table class="table table-responsive table-inverse">
                <!-- table content here -->
                <thead>
                    <tr *ngIf="!this.nw">
                        <th><button (click)="add_nw()" type="button" class="btn btn-tabla-agregar btn- btn-success"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button></th>
                        <th>#</th>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Fecha de registro</th>
                        <th>Credito</th>
                        <th>Numero de Cuenta</th>
                        <th>Banco</th>
                        <th>Telefono</th>
                        <th># Recomendados</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="this.nw">
                        <th><button (click)="add_nw()" type="button" class="btn btn-tabla-agregar btn- btn-success"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button></th>
                        <app-form-edit></app-form-edit>
                    </tr>
                    <tr *ngFor='let user of users | async; let i = index;' id={{i}}>
                        <th scope="row">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" (click)='edit_selected(i)' class="btn btn-secondary btn-info" title="Editar"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-secondary btn-danger" title="Eliminar"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                            </div>
                        </th>
                        <td class="text-right">{{i}}</td>
                        <td>{{user.id}}</td>
                        <td>{{user['name']}}</td>
                        <td>{{user['registerdate']}}</td>
                        <td *ngIf='!this.edited[i]' class="text-right">{{user['credit']}}</td>
                        <td *ngIf='!this.edited[i]'>{{user['numcred']}}</td>
                        <td *ngIf='!this.edited[i]'>{{user['bank']}}</td>
                        <td *ngIf='!this.edited[i]'>{{user['numcel']}}</td>
                        <td *ngIf='!this.edited[i]' class="text-right">{{user['recomendeds']}}</td>
                        <td *ngIf='this.edited[i]' class="text-right"><input type="text" value="{{user['credit']}}"></td>
                        <td *ngIf='this.edited[i]'><input type="text" value="{{user['account_name']}}"></td>
                        <td *ngIf='this.edited[i]'><input type="text" value="{{user['banco']}}"></td>
                        <td *ngIf='this.edited[i]'><input type="text" value="{{user['tel']}}"></td>
                        <td *ngIf='this.edited[i]' class="text-right"><input type="text" value="{{user['recomendeds']}}"></td>
                        <div>
                        </div>
                    </tr>

                </tbody>

            </table>

        </div>
    </div>

</section>