<section class="Tabla animated fadeIn" role="grid">
    <div *ngIf="this.nw">
        <th><button (click)="add_nw()" type="button" class="btn btn-tabla-agregar btn- btn-success"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button></th>
        
        <app-form-edit (sendtosave)='sendtosavetoo($event);'></app-form-edit>
    </div>
    <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input #gb type="text" pInputText size="50" placeholder="Filtro Global">
        <button (click)="add_nw()" type="button" class="btn btn-tabla-agregar btn- btn-success"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <!-- assaaaaaaaaaaaaaaaaaaaaaaaaaaa-->
            
        </div>
        <p-dataTable resizableColumns="true" [value]="users|async" [rows]="10" expandableRows="true" [editable]="true" [paginator]="true" [globalFilter]="gb" #dt>
            <p-header>Clientes</p-header>
            <p-column expander="true" styleClass="col-icon"></p-column>
            <p-column field="id" header="ID" [filter]="true" filterPlaceholder="Buscar"></p-column>
            <p-column field="name" header="Nombre" [filter]="true" filterPlaceholder="Buscar">
            </p-column>
            <p-column field="credit" header="Credito" [filter]="true" [editable]="true" filterPlaceholder="Buscar">
            </p-column>
            <p-column field="saldo" header="Saldo" [filter]="true" [editable]="true" filterPlaceholder="Buscar">
            </p-column>
            <p-column field="neto" header="Neto" [filter]="true" filterPlaceholder="Buscar">
            </p-column>
            <p-column field="descuento" header="Descuento" [filter]="true" [editable]="true" filterMatchMode="equals">
                <ng-template pTemplate="filter" let-col>
                    <p-dropdown [options]="desc" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
                </ng-template>
            </p-column>
            <p-column field="pago" header="Pago" [filter]="true" [editable]="true" filterMatchMode="in">
            </p-column>
            <p-column field="fecha" header="Fecha/pago" [filter]="true" [editable]="true" filterMatchMode="in">
                <ng-template pTemplate="filter" let-col>
                   <div><p-calendar [(ngModel)]="rangeDates" selectionMode="range" [locale]="es" dateFormat="dd/mm/yy" readonlyInput="true"></p-calendar></div>
                </ng-template>
            </p-column>
            <p-column field="nota" [editable]="true" header="Nota">
            </p-column>
            <p-column styleClass="col-icon">
                <ng-template let-client="rowData" pTemplate="body" let-col>
                    <button (click)="saveClient(client)" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                </ng-template>
            </p-column>
            <ng-template let-car pTemplate="rowexpansion" expandedIcon="fa-pencil" collapsedIcon="fa-floppy-o ">
                <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-1">
                            <i class="fa fa-pencil-square-o" (click)="displayDialog = true" aria-hidden="true"></i>
                        </div>
                        <div class="ui-grid-col-9">
                            <div class="ui-grid ui-grid-responsive ui-grid-pad">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2 label">Numero de cuenta: </div>
                                    <div class="ui-grid-col-4">    
                                        {{car.numcred}}
                                    </div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2 label">Banco: </div>
                                    <div class="ui-grid-col-4">      
                                 {{car.bank}}
                                    </div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2 label">Telefono: </div>
                                    <div class="ui-grid-col-1">         
                                    {{car.numcel}}
                                    </div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2 label">Fecha de registro: </div>
                                    <div class="ui-grid-col-1">
                                        {{car.registerdate}}
                                    </div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2 label">Recomendados: </div>
                                    <div class="ui-grid-col-1">
                                 {{car.recomendeds}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataTable>
        <!-- <<<<<<<<<<<<<<<<<<<<<<<<<< -->
    </div>

</section>

<p-growl [(value)]="msgs"></p-growl>

<!-- MODAL -->
<p-dialog header="Editar informacion" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-grid ui-grid-responsive ui-fluid">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4">
                <label for="vin">Numero de cuenta:</label>
            </div>
            <div class="ui-grid-col-8">
                <input type="number" id="color" />
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4">
                <label for="year">Banco:</label>
            </div>
            <div class="ui-grid-col-8">
                <input pInputText id="year"/>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4">
                <label for="brand">Telefono:</label>
            </div>
            <div class="ui-grid-col-8">
                <input pInputText id="brand"/>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4">
                <label for="color">Recomendados:</label>
            </div>
            <div class="ui-grid-col-8">
                <input type="number" id="color"/>
            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa-check" (click)="displayDialog = false" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>