<section class="Tabla animated fadeIn" role="grid">
    <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input #gb type="text" pInputText size="50" placeholder="Filtro Global">
        <button class="btn btn-tabla-agregar btn- btn-success" data-toggle="collapse" href="#agregarCliente" aria-expanded="false" aria-controls="agregarCliente"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center ui-datatable">
           
            <app-form-edit></app-form-edit>
        <p-dataTable resizableColumns="true" [value]="users|async" [rows]="10" expandableRows="true" [scrollable]="true" scrollHeight="800px" [editable]="true" [paginator]="true" [globalFilter]="gb" #dt>
            <p-header>Clientes</p-header>
            <p-column class="ui-datatable-responsive" expander="true" styleClass="col-icon" header=""> </p-column>
            <p-column class="ui-datatable-responsive" field="id" header="ID" [filter]="true" filterPlaceholder="Buscar"></p-column>
            <p-column class="ui-datatable-responsive" field="name" header="Nombre" [filter]="true" filterPlaceholder="Buscar">
            </p-column>
            <p-column class="ui-datatable-responsive" field="credit" header="Credito" [filter]="true" [editable]="true" filterPlaceholder="Buscar">
            </p-column>
            <p-column class="ui-datatable-responsive" field="saldo" header="Saldo" [filter]="true" [editable]="true" filterPlaceholder="Buscar">
            </p-column>
            <p-column class="ui-datatable-responsive" field="neto" header="Neto" [filter]="true" filterPlaceholder="Buscar">
                <ng-template let-client="rowData" pTemplate="body" let-col>
                    <div><p>{{client.credit - client.saldo}}</p></div>
                </ng-template>
            </p-column>
            <p-column class="ui-datatable-responsive" field="descuento" header="15%" [filter]="true" [editable]="true" filterMatchMode="equals">
                <ng-template pTemplate="filter" let-col>
                    <p-dropdown [options]="desc" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
                </ng-template>
                <ng-template let-col let-car="rowData" pTemplate="editor">
                    <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="car[col.field]"></p-inputSwitch>
                </ng-template>
                <ng-template let-col let-car="rowData" pTemplate="body">
                    <span *ngIf='car[col.field]'>{{(car.credit - car.saldo)*0.85}}</span>
                    <span *ngIf='!car[col.field]'>N/A</span>
                </ng-template>
            </p-column>
            <p-column class="ui-datatable-responsive" field="pago" header="Pago" [filter]="true" [editable]="true" (onChange)='showSuccess()' filterMatchMode="in">
            <ng-template let-col let-car="rowData" pTemplate="editor">
                <input type="number" [(ngModel)]="car[col.field]" (change)='saveClient2(car)' name="" id=""> 
            </ng-template>
            </p-column>
            <p-column class="ui-datatable-responsive" field="fecha" header="Fecha/pago" [filter]="true" [editable]="false" filterMatchMode="in">
                <ng-template pTemplate="filter" let-col>
                   <div><p-calendar [(ngModel)]="rangeDates" selectionMode="range" [locale]="es" dateFormat="dd/mm/yy" readonlyInput="true"></p-calendar></div>
                </ng-template>
            </p-column>
            <p-column class="ui-datatable-responsive" field="nota" [editable]="true" header="Nota">
            </p-column>
            <p-column class="ui-datatable-responsive" styleClass="col-icon">
                <ng-template let-client="rowData" pTemplate="body" let-col>
                    <button (click)="saveClient(client)" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                </ng-template>
            </p-column>

            <ng-template let-car pTemplate="rowexpansion" expandedIcon="fa-pencil" collapsedIcon="fa-floppy-o ">
                <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-9">
                            <div class="ui-grid ui-grid-responsive ui-grid-pad">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2 label">Numero de cuenta: </div>
                                    <div class="ui-grid-col-4">    
                                        <p-inplace  closable="closable">
                                            <span pInplaceDisplay>
                                                 {{car.numcred}}
                                            </span>
                                            <span pInplaceContent>
                                                <input type="text" [(ngModel)]="car.numcred" value="{{car.numcred}}" pInputText>
                                            </span>
                                        </p-inplace>
                                    </div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2 label">Banco: </div>
                                    <div class="ui-grid-col-4">
                                        <p-inplace closable="closable">
                                            <span pInplaceDisplay *ngIf="car.bank == 1">
                                                 Banamex
                                            </span>
                                            <span pInplaceContent>
                                                <input type="text" [(ngModel)]="car.bank" value="{{car.bank}}" pInputText>
                                            </span>
                                        </p-inplace>
                                    </div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2 label">Telefono: </div>
                                    <div class="ui-grid-col-1">         
                                    <p-inplace closable="closable">
                                        <span pInplaceDisplay>
                                            {{car.numcel}}
                                        </span>
                                        <span pInplaceContent>
                                            <input type="text" [(ngModel)]="car.numcel" value="{{car.numcel}}" pInputText>
                                        </span>
                                    </p-inplace>
                                    </div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2 label">Fecha de registro: </div>
                                    <div class="ui-grid-col-1">
                                        <p-inplace closable="closable">
                                            <span pInplaceDisplay>
                                                {{car.registerdate}}
                                            </span>
                                            <span pInplaceContent>
                                                <input type="text" [(ngModel)]="car.registerdate" value="{{car.registerdate}}" pInputText>
                                            </span>
                                        </p-inplace>
                                    </div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2 label">Recomendados: </div>
                                    <div class="ui-grid-col-1">
                                        <p-inplace closable="closable">
                                            <span pInplaceDisplay>
                                                {{car.recomendeds}}
                                            </span>
                                            <span pInplaceContent>
                                                <input type="text" [(ngModel)]="car.recomendeds" value="{{car.recomendeds}}" pInputText>
                                            </span>
                                        </p-inplace>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataTable>
        <div *ngIf='cargando'>
            <img  src="assets/images/carga.gif" alt="">
            <p>Cargando ....</p>
        </div>
        <!-- <<<<<<<<<<<<<<<<<<<<<<<<<< -->
    </div>
</div>
</section>

<p-growl [(value)]="msgs"></p-growl>
